<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>ログイン</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

<!--[if lt IE 9]><!-->
    <script src="/static/javascript/jquery-1.9.1.min.js"></script>
    <script th:src="@{/webjars/respond.js/dest/respond.min.js}"></script>
    <script th:src="@{/webjars/html5shiv/html5shiv.min.js}"></script>
<!--<![endif]-->
<!--[if gte IE 9]><!-->
    <script  th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!--<![endif]-->

    <!-- Custom styles for this template -->
    <style>
    <!--
    body {
        padding-top: 50px;
    }
    .navbar-brand {
        font-size: 24px;
    }
    .form-group {
        margin-bottom: 5px;
    }
    -->
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-push-3 col-md-6">
                <div class="form-wrap">
                    <div class="text-center"><h1>SampleApp</h1></div>
                    <br/>
                    <form role="form" action="#" th:action="@{/login}" method="post" id="login-form" autocomplete="off">
                        <div class="form-group" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
                            <p class="form-control-static text-danger" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></p>
                        </div>
						<div class="input-group input-sm">
							<label class="input-group-addon" for="username">
								<span class="glyphicon glyphicon-user icon-white" aria-hidden="true"></span>
							</label>
							<input type="text" name="id" id="id" class="form-control" placeholder="ID を入力して下さい0"/>
						</div>
						<div class="input-group input-sm">
							<label class="input-group-addon" for="password">
								<span class="glyphicon glyphicon-lock icon-white" aria-hidden="true"></span>
							</label>
							<input type="password" name="password" id="password" class="form-control" placeholder="Password を入力して下さい"/>
                        </div>
                        <br/>
                        <button id="btn-login" class="btn btn-primary btn-block">ログイン</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>

    <script type="text/javascript">
    <!--
    $(document).ready(function() {
        $('#id').focus().select();
    });
    -->
    </script>
</body>
</html>
